{% extends 'layout.njk' %}
        
{% block title %}
    <title> Home | Encontre tudo o que precisa </title>
{% endblock title %}

{% block content %}

    <div class="section">
    
        <div class="menu">

            <img src="/images/brasao.png" alt="Imagem do brasão"/>
            
            <div class="description">

                <h2>Ipueiras City</h2>
                
                <p>
                    Encontre tudo o que você precisa aqui. <br/>
                    Lojas, Marcenarias, Mercados, Frigorificos, Pedreiros... todo o tipo de trabalho! <br/>
                    Cadastre sua profissão ou o que você faz, e seja encontrado também!
                </p>

                <a href="/home">Vamos lá?</a>
                
                <lottie-player class="lottie" 
                src="https://assets1.lottiefiles.com/packages/lf20_n7eytpy8.json"  speed="1"  
                style="width: 100px; height: 100px;" autoplay loop ></lottie-player>


                <div class="links-active">
                    <ul>

                        <li> 
                            <a href="https://www.facebook.com/prefeituradeipueiras" target="_blank">
                                <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_pb3we3yk.json"  
                                background="transparent"  speed="0.7"  style="width: 70px; height: 70px;" autoplay></lottie-player>
                            </a> 
                        </li>

                        <li> 
                            <a href="https://www.instagram.com/prefeituradeipueiras/" target="_blank">
                                <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_5jrklsmp.json"  
                                background="transparent"  speed="0.7"  style="width: 70px; height: 70px;" autoplay></lottie-player>
                            </a> 
                        </li>

                    </ul>
                </div>
            
            </div>

        </div>

        
        <div class="links">
            <ul>

                <li> 
                    <a href="https://www.facebook.com/prefeituradeipueiras" target="_blank">
                        <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_pb3we3yk.json"  
                        background="transparent"  speed="0.7"  style="width: 70px; height: 70px;" autoplay></lottie-player>
                    </a> 
                </li>

                <li> 
                    <a href="https://www.instagram.com/prefeituradeipueiras/" target="_blank">
                        <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_5jrklsmp.json"  
                        background="transparent"  speed="0.7"  style="width: 70px; height: 70px;" autoplay></lottie-player>
                    </a> 
                </li>

            </ul>
        </div>

    </div>

{% endblock content %}